.shop .category {
    padding: 30px;
 
  }
  .chead h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .chead h1:nth-child(2) {
    opacity: 0.5;
    border-left: 3px solid rgba(0, 0, 0, 0.5);
    padding-left: 70px;
  }
  .shop .category .box {
    background-color: #f6f9fc;
    margin: 15px 0;
    padding: 5px 10px;
    transition: 0.5s;
    border-radius: 5px;
  }
  .shop .category img {
    width: 100px;
    height: 100px;
  }
  .shop .category .box:hover {
    background-color: #fff;
    box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
  }
  .shop .box2 {
    margin-top: 100px !important;
    text-align: center;
  }
  .shop .category button {
    padding: 10px;
    background: none;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
  }

  .shop .contentWidth {
    margin-left: 30px;
  }
  .shop1 .contentWidth {
    margin-left: 30px;
    height: auto;
  }

.shop1{
min-height: 1500px;
}
  
  .grid1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  .shop .product img {
    width: 100%;
    height: 100%;
  }
  .shop .product {
    transition: 0.5s;
  }
  .shop .product:hover {
    box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
  }
  .shop-items {
    background: #f6f9fc;
    height: auto;
    padding: 00px 0;
   
  }
  
  .shop-items .shop-details {
    width: 100%;
    
  }
  
  .shop-items .shop-total {
    width: 30%;
    margin-top: 30px;
    margin-left: 30px;
    height: 130px;
  }
  .shop-list {
    background: white;
    margin-top: 30px;
  }
  .shop-items .img {
    width: 175px;
    height: 175px;
    border-radius: 50px;
  }
  .shop-items img {
    width: 100%;
background-color: #c6cbcf;
    height: 100%;
    object-fit: contain;
    border-radius: 25px;
  }

  .profile{
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 10px;
   left: 160px;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  }
  .shop-items .shop-details h3 {
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
  }

  .button-82-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 15px;
   

  }
  
  .button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  .button-82-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(340deg 100% 16%) 0%,
      hsl(340deg 100% 32%) 8%,
      hsl(340deg 100% 32%) 92%,
      hsl(340deg 100% 16%) 100%
    );
  }
  
  .button-82-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  @media (min-width: 768px) {
    .button-82-front {
      font-size: 16px;
      padding: 12px 42px;
    }
  }
  
  .button-82-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
  }
  
  .button-82-pushable:hover .button-82-front {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  .button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  .button-82-pushable:focus:not(:focus-visible) {
    outline: none;
  }



  .button-82-pushable1 {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 15px;
    margin-left: 20px;
  }
  
  .button-82-shadow1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  .button-82-edge1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(0,0%,41%) 0%,
      hsl(0,0%,66%) 8%,
      hsl(0,0%,66%) 92%,
      hsl(0,0%,41%) 100%
    );
  }
  
  .button-82-front1 {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: #0000a1;
    background: hsl(0,0%,75%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  @media (min-width: 768px) {
    .button-82-front1 {
      font-size: 16px;
      padding: 12px 42px;
    }
  }
  
  .button-82-pushable1:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
  }
  
  .button-82-pushable1:hover .button-82-front1 {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .button-82-pushable1:active .button-82-front1 {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  .button-82-pushable1:hover .button-82-shadow1 {
    transform: translateY(4px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .button-82-pushable1:active .button-82-shadow1 {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  .button-82-pushable1:focus:not(:focus-visible) {
    outline: none;
  }
 h4{
  font-size: 15px;
 }
  @media (max-width: 768px) {
    .shop .contentWidth {
      margin-left: 0px;
    }
    .shop-items .img {
      width: 80px;
      height: 80px;
      border-radius: 50px;
      margin-right: 20px;
    }
    .button-82-pushable{
      width: 100px;
      padding: 0;
    }
    p{font-size: 10px;}
    .button-82-pushable1{
margin-left: 5px;
      width: 70px;
      padding: 0;
    }
    .button-82-front1 {
      display: block;
      position: relative;
      padding: 5px 5px;
      border-radius: 12px;
      font-size: 0.6rem;
font-weight: 500;
      color: #0000a1;
      background: hsl(0,0%,75%);
      will-change: transform;
      transform: translateY(-4px);
      transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
  }
  h4{
    font-size: 10px;
  }
  .button-82-front {
    display: block;
    position: relative;
    padding: 5px 5px;
    border-radius: 12px;
    font-weight: 400;
    font-size: 0.6rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  .profile{
    background-size: cover; 
    background-position: center;
    position: absolute;
    top: 5px;
   left: 70px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    width: 35px;
    height: 35px;
  }
  .sahar
{
    width: 35px;
    height: 35px;
  }
  }
