.boxCompte {
    box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
    background-color: #fff;
    width: 100%;
    height: 750px;
    padding: 15px 0;
    border-radius: 5px;
    margin-top: 40px;
    z-index: 1;
  }
  .shop2 .category {
    padding: 30px;
    height: 80vh;
}